[submodule "08 - Security DAO/volcano-foundry/lib/forge-std"]
	path = 08 - Security DAO/volcano-foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "08 - Security DAO/volcanoCoin-foundry/lib/forge-std"]
	path = 08 - Security DAO/volcanoCoin-foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "09 - Ethers and Unit testing/NFTproject/lib/forge-std"]
	path = 09 - Ethers and Unit testing/NFTproject/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
